@model MvcWebApplication.ViewModels.Orders.IndexViewModel

@{
	ViewData["Title"] = "Search Orders";
}

<h4>Search Orders</h4>

@{
	if (Model.Message.Length > 0)
	{
		<div class="text-danger">@Model.Message</div>
	}
}

<form id="Search" asp-controller="Orders" asp-action="Index" method='POST' autocomplete="off">
	<div class="form-group">
		<div class="divInline">
			<div style="padding-bottom: 5px;">
				<label asp-for="OrderSearch.BeginOrderDate" class="control-label"></label>
				<input type="date" asp-for="OrderSearch.BeginOrderDate" asp-format="{0:yyyy-MM-dd}">
				<label asp-for="OrderSearch.EndOrderDate" class="control-label"></label>
				<input type="date" asp-for="OrderSearch.EndOrderDate" asp-format="{0:yyyy-MM-dd}">
				<button type="submit">Search</button>
			</div>
		</div>
	</div>
</form>

@if (Model.OrderList.Count > 0)
{
	<table class="table">
		<thead>
			<tr>
				<th>
					User Id
				</th>
				<th style="padding-right: 15px">
					OrderId
				</th>
				<th style="padding-right: 15px">
					Order Total
				</th>
				<th style="padding-right: 15px">
					Order Date
				</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var order in Model.OrderList)
			{
				<tr>
					<td>
						@order.UserId
					</td>
					<td>
						@order.OrderId
					</td>
					<td>
						@order.OrderTotal
					</td>
					<td>
						@order.OrderDate
					</td>
				</tr>
			}
		</tbody>
	</table>
}
else
{
	<table class="displayList">
		<tr>
			<td style="width:100%;">
				There are no orders.
			</td>
		</tr>
	</table>
}

